body {
    font-size: 28upx;
    color: #333333;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
}

view,
scroll-view,
button,
input,
textarea,
label,
movable-area,
movable-view,
image {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
